* {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #0b172b;
}
nav{
  height: 80px;
  width: 100%;
  
}
nav ul{
  float: right;
  margin-right: 200px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 50px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #A455F1D4;
  transition: .2s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.logo{
  display: flex;
  justify-content: center;
}
.logo img{
  width: 500px;
}
.sc{
  display: flex;
  justify-content: center;
}
.search-container{
   display: flex;
   justify-content: center;
   border: solid 5px #6fffe9;
   background: #FFFFFF82;
   width: 600px;
   height: 30px;
   margin: 50px;
   border-radius: 50px;
}
::placeholder{
  color: #FFFFFF8F;
  font-size: 20px;
}
.search-container i{
  margin: 5px 9px 0 9px;
}
.search{
  border: transparent;
  background: transparent;
  width: 580px;
  padding-left: 5px;
  font-size: 20px;
  outline: none;
}
.upload {
  background: #5057D5;
  font-size: 35px;
  margin-top: 35px;
  padding-left: 10px;
  text-transform: uppercase;
}
.container{
  background: #7C28FF8C;
  margin: 0;
}
.item{
  padding: 10px;
  padding-left: 15px;
}
.tele i {
  font-size: 80px;
  color: #0090FF;
  position : fixed; 
  right: 0;
  bottom: 0;
  margin: 30px;
}
.tele a{
  font-size: 25px;
  color: #0090FF;
  text-decoration: none;
  position : fixed; 
  right: 0;
  bottom: 0;
  margin-top: 5px;
  margin-right: 25px;
}
.hide {
  display: none;
}
@media (max-width :500px){
  .checkbtn{
      display: block;
  }
  .fa-bars{
    color: #6fffe9;
    font-size: 25x;
  }
  ul{
    position: fixed;
    width: 80%;
    height: 100vh;
    background: #2C3E50;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: #A455F1D4;
  }
  #check:checked ~ ul{
    left: 0;
  }

    .logo img {
      width: 200px;
    }
    .search-container{
      width: 300px;
      height: 30px;
      margin: 20px;
      border: solid 3px #6fffe9;
    }
    ::placeholder{
      font-size: 15px;
    }
    .search-container i{
      font-size: 12px;
      margin:8px 0 2px 6px;
    }
    .upload {
      margin-top: 25px;
    }
    .tele i{
  font-size: 40px;
  margin: 20px;
}
.tele a{
  margin-right: 13px;
  font-size: 15px;
}
    
    
    
}
